body {
	font-family: helvetica;
	background-color: white;
	font-size: 18px
}

form {
	padding: 5px
}

input[type=text] {
	border-radius: 5px;
	border: 1px solid lightgray;
	width: 200px;
	height: 30px;
	margin: 10px;
	font-size: 18px
}

input[type=submit] {
	border-radius: 5px;
	border-color: white;
	background-color: #4253f4;
	color: white;
	height: 30px;
	font-size: 18px
}

.twitter-viewer {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center
}

.title-line {
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
	background-color: #00aced;
	color: white;
	font-weight: 600;

}

.tweets-container {
	height: 700px;
	overflow-y: scroll
}

.tweet {
	background-color: #427df4;
	padding: 10px;
	margin: 5px 10px 5px 0px;
	max-width: 200px;
	width: 200px;
	border: 1px solid black;
	border-radius: 5px
}

.tweet:nth-child(even) {
	background-color: #1da9f9;
	margin: 5px 0px 5px 10px;
}

.tweet-date {
	color: white
}
