body {
	font-family: helvetica;
	background-color: #cffcfb
}

form {
	padding: 5px
}

.twitter-viewer {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center
}

.title-line {
	font-size: 20px;
	padding: 5px
}

.tweets-container {
	height: 700px;
	overflow-y: scroll
}

.tweet {
	background-color: #427df4;
	padding: 10px;
	max-width: 200px;
	width: 200px
}

.tweet:nth-child(even) {
	background-color: #1da9f9
}

.tweet-date {
	color: white
}

.submit-button {
	border-radius: 5px;
	border-color: white;
	background-color: #4253f4;
	color: white
}
